body {
    background-color: #2d5ecf;
    font-family: Arial, Helvetica, sans-serif;
}

.login {
    width: 500px;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    margin: 100px auto;
}

.log {
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
}

.sistem {
    text-align: center;
    margin-bottom: 25px;
    font-weight: bold;
}

.submit {
    width: 100%;
}

.alert-danger {
    text-align: center;
    padding: 5px;
}

.warnaNavbar {
    background-color: #2d5ecf;
}

.pustaka {
    font-size: large;
}

.koleksi {
    background-color: #e9edf7;
}

.judulKoleksi {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.judulEdit {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 25px;
}

.btn-success, .btn-warning {
    width: 75px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.form-label {
    font-weight: 500px;
    margin-bottom: 6px;
}

.form-control, .form-select {
    border-radius: 6px;
    height: 42px;
    font-size: 14px;
}

.formEdit {
    width: 700px;
    margin: 40px auto;
    background-color: white;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}

.formButton {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 25px;
}

.judulPinjam {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 30px;
}

.tabelPinjam {
    width: 90%;
    margin: 0 auto;
}

.kembali {
    width: 110px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 14px;
}

.tambahKoleksi {
    font-weight: bold;
}

.formPinjam {
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.tombolSubmit {
    border-top: none;
    text-align: center;
    gap: 10px;
    padding-bottom: 25px;
}

.btnKembali {
    background-color: rgba(25, 210, 235, 0.831);
}

.keluar {
    margin-right: 15px;
}

.file {
    padding: 0px;
}